<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afa968">  <td>20/09/25 13:23:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DownloadFile.Initialize()[pri:0, instance:com.test.DownloadFile@29647f75]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/09/25 13:23:56</td>   <td>7556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DownloadFile.FileDownload()[pri:0, instance:com.test.DownloadFile@29647f75]">FileDownload</td> 
  <td>main@263885523</td>   <td></td> </tr>
</table>
