<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95dea7">  <td>20/09/25 13:28:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cart_Class.AddCart()[pri:0, instance:com.test.Cart_Class@3738449f]">AddCart</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="bd777f">  <td>20/09/25 13:28:52</td>   <td>40810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Frames.AddTextToFrame()[pri:0, instance:com.test.Frames@11bd0f3b]">AddTextToFrame</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>20/09/25 13:28:14</td>   <td>2638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cart_Class.CountElements()[pri:1, instance:com.test.Cart_Class@3738449f]">CountElements</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/09/25 13:28:01</td>   <td>-10600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DownloadFile.FileDownload()[pri:0, instance:com.test.DownloadFile@378542de]">FileDownload</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="afa968">  <td>20/09/25 13:27:54</td>   <td>-17985</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DownloadFile.Initialize()[pri:0, instance:com.test.DownloadFile@378542de]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>20/09/25 13:28:03</td>   <td>-8481</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Cart_Class.Initialize()[pri:0, instance:com.test.Cart_Class@3738449f]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="bd777f">  <td>20/09/25 13:28:45</td>   <td>33618</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Frames.Initialize()[pri:0, instance:com.test.Frames@11bd0f3b]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>20/09/25 13:28:55</td>   <td>43740</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ContactUs.Initialize()[pri:0, instance:com.test.ContactUs@c333c60]">&gt;&gt;Initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>20/09/25 13:29:07</td>   <td>55049</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUs.LoginFacebook(java.lang.String, java.lang.String)[pri:0, instance:com.test.ContactUs@c333c60]">LoginFacebook</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>20/09/25 13:29:20</td>   <td>67864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUs.LoginFacebook(java.lang.String, java.lang.String)[pri:0, instance:com.test.ContactUs@c333c60]">LoginFacebook</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>20/09/25 13:29:32</td>   <td>80681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ContactUs.LoginFacebook(java.lang.String, java.lang.String)[pri:0, instance:com.test.ContactUs@c333c60]">LoginFacebook</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>20/09/25 13:28:38</td>   <td>26781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cart_Class.PriceofElements()[pri:2, instance:com.test.Cart_Class@3738449f]">PriceofElements</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>20/09/25 13:28:39</td>   <td>26821</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Cart_Class.TotalPriceofElements()[pri:3, instance:com.test.Cart_Class@3738449f]">TotalPriceofElements</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="d26d6b">  <td>20/09/25 13:29:45</td>   <td>93318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Validation.ValidationFields()[pri:0, instance:com.test.Validation@79da8dc5]">ValidationFields</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="95dea7">  <td>20/09/25 13:28:45</td>   <td>33042</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Cart_Class.cleanUp()[pri:0, instance:com.test.Cart_Class@3738449f]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="919fcc">  <td>20/09/25 13:29:45</td>   <td>93203</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ContactUs.cleanUp()[pri:0, instance:com.test.ContactUs@c333c60]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="70f470">  <td>20/09/25 13:28:45</td>   <td>33614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Excel_DataProvider.read(java.lang.String, java.lang.String)[pri:0, instance:com.test.Excel_DataProvider@69e1dd28]">read</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="70f470">  <td>20/09/25 13:28:45</td>   <td>33616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Excel_DataProvider.read(java.lang.String, java.lang.String)[pri:0, instance:com.test.Excel_DataProvider@69e1dd28]">read</td> 
  <td>main@257608605</td>   <td></td> </tr>
</table>
